.Meal {
    margin-top: 2rem;
}

.Meal img {
    display: block;
    margin: 0 auto;
}

.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}