.App {
    font-family: Helvetica, Arial, sans-serif;
    margin: 2rem 2rem;
}

.App .header {
    text-align: center;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 200;
}

h3 {
    font-weight: 300;
}

p.danger {
    color: crimson;
}

img {
    max-width: 100%;
}

@media (min-width: 960px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .App {
        margin: 2rem 10rem;
    }

    .column-4 {
        width: 33%;
    }

    .column-8 {
        width: 60%;
        margin-left: 4%;
    }
}